.btn {
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.btn.btn-laranja {
    background-color: #f49629;
    color: white;
}

.btn.btn-laranja:hover {
    background-color: #db7c10;
}