header section{
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li a{
    padding: 0 15px;
    margin: 0 15px;
    color: #c0ceff;
}

header img {
    width: 100px;
}