/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

/* Componentes */
@import "./header.css";
@import "./buttons.css";
@import "./main.css";
@import "./footer.css";

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Source Sans 3", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    min-height: 100dvh;
}

body{
    background-image: linear-gradient(180deg, #010410, #001737);
}

.container {
    width: 1024px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}